<body id="body-font-color">
	</br><h1><small><center>Company Profile</h1></br>
	<p class="lead">Marwan Electrical & Sanitaryware Co Ltd, with its corporate base in the Sharjah specialises in quality cable management systems and by providing a front line solution in all areas of cable supports and management. The company is dedicated to determine the needs of the customer and provide a complete, reliable and efficient solution by incorporating the best brands in its area of expertise and services. The vision of our company has always been to provide specialist services and products that serve the needs of our clients, architects, interior designers, consultants and contractors. Keeping the requirements of our clients, we supply products that are designed to offer undeniable level of reliability and performance.
	</p>
	<p class="lead">
	The company with nearly 25 years of experience in the industry is managed by a group of professionals having a vast experience in the UAE industry; we harness the latest technology to offer quality products. We have experiences in supplying cable management systems for some major projects and clients like ADNOC, ETISALAT, airport projects, palaces, multi storied commercial and residential buildings. The company continues to incorporate new ideas whilst drawing simultaneously on the experience, industry knowledge and customer loyalty built up over the years. We are committed to building and maintaining long term collaborative relationships with our suppliers and customers. The relationships are nurtured by being responsive to customers, keeping their interest paramount and always placing their needs first.
	</p>
	<p class="lead">
	We are pleased to assure that all the materials and products dealt by ourselves are of high quality matching any international brand and from reputed manufactures worldwide. We have established offices and warehouses in Abu Dhabi, Dubai, Sharjah and Ajman and a network of distributors in the country carrying a good quantity of stock normally good enough to cater a project both locally and internationally. We enhance easy accessibility and efficient service quality in order to provide increased satisfaction to our customers.
	</p>
</body>
