<body id="body-font-color">
	</br><h1><small><center>Light Fittings</h1></br>

	<h2>LIGHTING & EQUIPMENT PUBLIC CO. LTD</h2></br>

	<p class="lead">Lighting & Equipment Public company limited a Thailand based company manufacturers of fluorescent luminaries and Cable Trunking products. 
	</p>

	<p class="lead">At present, the company has developed a number of product brands. Each product brand is designated to each particular product group to emphasize that each product brand is specialized in a particular product group:
	</P>

	<p>
		<ul class="lead">
		  <li><strong>LUSO is specialized for fluorescent lighting luminaire.</strong></li>
		  <li><strong>LUMAX is fighting brand for all lighting luminaire.</strong></li>
		  <li><strong>OPTEX is specialized for interior lighting luminaire.</strong></li>
		  <li><strong>LITEX is specialized for industrial and outdoor lighting luminaire.</strong></li>
		  <li><strong>LANEX is specialized for landscape lighting luminaire.</strong></li>
		  <li><strong>HOMEX is specialized for home decorative lighting luminaire.</strong></li>
		  <li><strong>LAMEX is specialized for lamps, control gear/equipment and accessories.</strong></li>
		  <li><strong>SIGNEX is specialized for advertising light box, decorative lighting and LED lighting luminaries.</strong></li>
		</ul>
	</P>
	<p class="lead">For more details visit: <%= link_to "www.l-and-e.com", "http://www.l-and-e.com" %></P>
	</br>

	<hr color="#fffff"><br>

	<h2>UNITED U-LI GOODLITE SDN BHD.</h2></br>

	<p class="lead">Lighting is more than just illumination of commercial or private space. Uli Group's vast array of lights and lighting accessories can be combined in a variety of ways to contribute to business image and productivity. Main Products: Fluorescent Light Fittings for office & residential applications.
	</p>
	<p class="lead">For more details visit: <%= link_to "www.uli.com.my	", "http://www.uli.com.my" %></P>
</body>