<body id="body-font-color">
	</br><h1><small><center>Lighting Protection</h1></br>

	<h2>J Propster GmBH</h2>

	<% if Rails.env.production? %>
		<p align="center"><%= image_tag "https://s3.amazonaws.com/JustABucket/marwan/assets/images/propster.jpg" %></p>
	<% else %>
		<p align="center"><%= image_tag "propster.jpg" %></p>
	
	<% end %>

	<p class="lead"><strong>“With safety always one idea ahead!”</strong>. His slogan has been the motive for J. Pröpster and his team for the last 25 years of developing and manufacturing lightning protection components. The revolutionary ideas of J. Pröpster including numerous inventions and patents have been a major influence on the lightning protection industry. 

	The following systems are some of the innovative highlights developed by J. Pröpster:
	</p>

	<p>
		<table class="table table-bordered table-nonfluid" align="center">
			<tbody>
				<tr>
					<td>Original Multi-Clamp</td>
					<td>Optimal Intersection Rod</td>
				</tr>	
				<tr>
					<td>Vario-Clamp</td>
					<td>DUO Gutter Contact Clamp</td>
				</tr>
				<tr>
					<td>Bimetalclamp</td>
					<td>Roof Conductor Support with Clamping Device</td>
				</tr>
				<tr>
					<td>USV-Connection Clamp</td>
					<td>PRÖ-Color Components</td>
				</tr>
				<tr>
					<td>Diagonal-Cross-Clamp</td>
					<td>Lead-in Earhing Rod with Insulated Terminal</td>
				</tr>
				<tr>
					<td>Niro-Clip-Snap-on Holder</td>
					<td>Fixed Earthing Terminal</td>
				</tr>
				<tr>
					<td>Trapezoidal Support</td>
					<td>P-BM (smallest lightning current arrester 35 KA)</td>
				</tr>
				<tr>
					<td>ÖKO Flat Roof Support</td>
					<td>ISO-Stabil for insulated or partially ins. Protection</td>
				</tr>
			</tbody>
		</table>
	</p>

	<p class="lead">For more details visit: <%= link_to "www.proepster.de", "http://www.proepster.de"%></p>
</body>