<div id="footer">
	    <div class="container">
	    	<br>
	    	<div class="row">
	    		<div class="col-md-6">
	      		Call Us: <strong>+971-6-5335963; +971-2-5513121; +971-50-6463279</strong>
      		</div>
	    		<div class="col-md-6 text-muted credit" align="right">
	      		Copyright 2014 Marwan Electrical and Sanitary Ware Co. Ltd<br>
	      		All Rights Reserved.
      		</div>
      	</div>
	    </div>
	  </div>